flows_raspberrypi.json
[{"id":"4a18cea2.c3c05","type":"tab","label":"Flow 1"},{"id":"be5a66a5.e032c8","type":"tab","label":"Flow 2"},{"id":"662f59f2.17fc18","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"13af8c25.c902f4","type":"i2c-device","z":"","device":"","address":"53"},{"id":"4be7de85.7882","type":"i2c-device","z":"","device":"","address":"24"},{"id":"3a7c2871.2ba388","type":"i2c-device","z":"","device":"/dev/i2c-1","address":"53"},{"id":"c1298d35.32b7f","type":"ui_group","z":"","name":"CPU","tab":"816c63c0.5ce6c","disp":true,"width":"6"},{"id":"816c63c0.5ce6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"273a23e2.e3d24c","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"8b605dd6.ae7d3","type":"i2c scan","z":"4a18cea2.c3c05","i2cdevice":"3a7c2871.2ba388","name":"we","x":361.1000061035156,"y":148.4000701904297,"wires":[["be9d4d2f.59589"],["4d204c39.46f754"]]},{"id":"adb6d6f9.1ab5c8","type":"inject","z":"4a18cea2.c3c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.09999084472656,"y":147.40005493164062,"wires":[["8b605dd6.ae7d3"]]},{"id":"be9d4d2f.59589","type":"debug","z":"4a18cea2.c3c05","name":"","active":true,"console":"false","complete":"payload","x":623.1000518798828,"y":57.40007019042969,"wires":[]},{"id":"4d204c39.46f754","type":"debug","z":"4a18cea2.c3c05","name":"","active":true,"console":"false","complete":"false","x":655.1000213623047,"y":152.4001007080078,"wires":[]},{"id":"13b9e791.7648a8","type":"inject","z":"4a18cea2.c3c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171.10000610351562,"y":283.80006408691406,"wires":[["d1b75c8f.48bcd"]]},{"id":"eaa418f5.a0cd58","type":"i2c in","z":"4a18cea2.c3c05","name":"","i2cdevice":"3a7c2871.2ba388","address":"83","command":"4","count":"3","x":647.1000518798828,"y":390.00013732910156,"wires":[[]]},{"id":"166ad0d9.86de3f","type":"debug","z":"4a18cea2.c3c05","name":"","active":true,"console":"false","complete":"false","x":641.1000518798828,"y":272.4001007080078,"wires":[]},{"id":"d1b75c8f.48bcd","type":"exec","z":"4a18cea2.c3c05","command":"sudo python example.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":388.1000213623047,"y":277.30006408691406,"wires":[["166ad0d9.86de3f"],[],[]]},{"id":"49d9e274.01c41c","type":"ui_gauge","z":"be5a66a5.e032c8","name":"Temperature","group":"c1298d35.32b7f","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":671.1000366210938,"y":112.19999694824219,"wires":[]},{"id":"7e8fbb9e.f89914","type":"exec","z":"be5a66a5.e032c8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":197.1000213623047,"y":128.70001220703125,"wires":[["3ef01d14.589a02"],[],[]]},{"id":"3ef01d14.589a02","type":"function","z":"be5a66a5.e032c8","name":"substring","func":"str = msg.payload;\nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":433.10009765625,"y":114.80000305175781,"wires":[["49d9e274.01c41c","8a13a91a.44ae18","c33909cc.c11178"]]},{"id":"8a13a91a.44ae18","type":"ui_chart","z":"be5a66a5.e032c8","name":"","group":"c1298d35.32b7f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":656.1000213623047,"y":180.1999969482422,"wires":[[],[]]},{"id":"c33909cc.c11178","type":"debug","z":"be5a66a5.e032c8","name":"","active":true,"console":"false","complete":"false","x":651.1000213623047,"y":267.00001525878906,"wires":[]},{"id":"29de8efb.0bba22","type":"inject","z":"be5a66a5.e032c8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"x":106.10000610351562,"y":233.8000030517578,"wires":[["7e8fbb9e.f89914"]]}]