flows_raspberrypi.json
[{"id":"ad9385ca.8d4ae8","type":"tab","label":"AM2320"},{"id":"e4a80c49.4119f","type":"tab","label":"BH1750"},{"id":"dbd5df26.447c2","type":"tab","label":"BMP180"},{"id":"d8d6b660.9de998","type":"tab","label":"DS18B20 "},{"id":"662f59f2.17fc18","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"13af8c25.c902f4","type":"i2c-device","z":"","device":"","address":""},{"id":"4be7de85.7882","type":"i2c-device","z":"","device":"","address":"24"},{"id":"3a7c2871.2ba388","type":"i2c-device","z":"","device":"/dev/i2c-1","address":""},{"id":"c1298d35.32b7f","type":"ui_group","z":"","name":"DS18B20","tab":"816c63c0.5ce6c","disp":true,"width":"6"},{"id":"816c63c0.5ce6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"273a23e2.e3d24c","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"e09e98e1.718168","type":"nodebot","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":""},{"id":"66e93b75.dfe264","type":"ui_group","z":"","name":"AM2320","tab":"816c63c0.5ce6c","disp":true,"width":"6"},{"id":"38d71a83.af16f6","type":"ui_group","z":"","name":"BH1750","tab":"816c63c0.5ce6c","disp":true,"width":"6"},{"id":"ef0772cc.7fe03","type":"inject","z":"ad9385ca.8d4ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191.09999465942383,"y":180.80000686645508,"wires":[["16e84d6f.a30883"]]},{"id":"16e84d6f.a30883","type":"exec","z":"ad9385ca.8d4ae8","command":"python /home/pi/.node-red/am2320-temperature.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"am2320 temperature","x":471.0999984741211,"y":174.50003051757812,"wires":[["3dc61512.606e8a"],[],[]]},{"id":"969ddde0.96f23","type":"exec","z":"ad9385ca.8d4ae8","command":"python /home/pi/.node-red/am2320-humidity.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"am2320 humidity","x":464.1999740600586,"y":291.1999683380127,"wires":[["cc7046da.cadad8"],[],[]]},{"id":"89293f26.14601","type":"inject","z":"ad9385ca.8d4ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":196.20000457763672,"y":280.1999683380127,"wires":[["969ddde0.96f23"]]},{"id":"3dc61512.606e8a","type":"ui_chart","z":"ad9385ca.8d4ae8","name":"temperature","group":"66e93b75.dfe264","order":0,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":750.1002311706543,"y":165.4000301361084,"wires":[[],[]]},{"id":"cc7046da.cadad8","type":"ui_chart","z":"ad9385ca.8d4ae8","name":"humidity","group":"66e93b75.dfe264","order":0,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":754.2000350952148,"y":279.1999683380127,"wires":[[],[]]},{"id":"300fe8ac.a9e9f8","type":"inject","z":"d8d6b660.9de998","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":184.09999084472656,"y":252.79999160766602,"wires":[["41339e26.38d6"]]},{"id":"41339e26.38d6","type":"rpi-ds18b20","z":"d8d6b660.9de998","topic":"","array":false,"name":"","x":417.0999984741211,"y":218.20001983642578,"wires":[["45d4b636.343a48"]]},{"id":"45d4b636.343a48","type":"ui_chart","z":"d8d6b660.9de998","name":"temperature","group":"c1298d35.32b7f","order":0,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":615.1000823974609,"y":217.4000186920166,"wires":[[],[]]},{"id":"d4d2a3f9.b13ff","type":"inject","z":"e4a80c49.4119f","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":206.10000610351562,"y":246.80000591278076,"wires":[["30270e52.6a0942"]]},{"id":"7dc4cdcb.43a894","type":"ui_chart","z":"e4a80c49.4119f","name":" light","group":"38d71a83.af16f6","order":0,"width":0,"height":0,"label":"light","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"lux","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":720.2000350952148,"y":185.2000036239624,"wires":[[],[]]},{"id":"30270e52.6a0942","type":"exec","z":"e4a80c49.4119f","command":"python /home/pi/.node-red/bh1750.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bh1750 data","x":457.1999740600586,"y":225.20000839233398,"wires":[["7dc4cdcb.43a894","b118560b.12a5b8"],[],[]]},{"id":"b118560b.12a5b8","type":"debug","z":"e4a80c49.4119f","name":"","active":true,"console":"false","complete":"false","x":735.1000213623047,"y":321.8000030517578,"wires":[]}]