flows_raspberrypi.json
[{"id":"ad9385ca.8d4ae8","type":"tab","label":"AM2320"},{"id":"e4a80c49.4119f","type":"tab","label":"BH1750"},{"id":"d8d6b660.9de998","type":"tab","label":"DS18B20 "},{"id":"dbd5df26.447c2","type":"tab","label":"BMP180"},{"id":"8b2fcf8.330b73","type":"tab","label":"Relay"},{"id":"ee3dd378.18084","type":"tab","label":"Camera"},{"id":"2571c663.15b22a","type":"tab","label":"Gas Sensor"},{"id":"78ebe61c.15f138","type":"tab","label":"Moisture"},{"id":"8bcfba3d.33e668","type":"tab","label":"Flow 3"},{"id":"662f59f2.17fc18","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"13af8c25.c902f4","type":"i2c-device","z":"","device":"","address":""},{"id":"4be7de85.7882","type":"i2c-device","z":"","device":"","address":"24"},{"id":"3a7c2871.2ba388","type":"i2c-device","z":"","device":"/dev/i2c-1","address":""},{"id":"c1298d35.32b7f","type":"ui_group","z":"","name":"DS18B20","tab":"1b637788.784fc8","order":6,"disp":true,"width":"6"},{"id":"816c63c0.5ce6c","type":"ui_tab","z":"","name":"Relay","icon":"dashboard"},{"id":"273a23e2.e3d24c","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"e09e98e1.718168","type":"nodebot","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":""},{"id":"66e93b75.dfe264","type":"ui_group","z":"","name":"AM2320","tab":"1b637788.784fc8","order":3,"disp":true,"width":"6"},{"id":"38d71a83.af16f6","type":"ui_group","z":"","name":"BH1750","tab":"1b637788.784fc8","order":4,"disp":true,"width":"6"},{"id":"fb634992.b970b8","type":"ui_group","z":"","name":"BMP180","tab":"1b637788.784fc8","order":1,"disp":true,"width":"6"},{"id":"b1034f0b.88a03","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b449769f.342968","type":"ui_group","z":"ee3dd378.18084","name":"Default","tab":"","disp":true,"width":"6"},{"id":"77c671cd.8d58d","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"5a9a27c6.a13448","type":"ui_group","z":"","name":"Camera","tab":"dd97706a.fbb3","order":2,"disp":true,"width":"25"},{"id":"dd97706a.fbb3","type":"ui_tab","z":"","name":"Camera","icon":"dashboard"},{"id":"7f44a80a.404908","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ab480e36.fb0d","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"b6d1f860.6ca018","type":"mqtt-broker","z":"ee3dd378.18084","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"acb4d926.a4c5c8","type":"ui_group","z":"","name":"MQ 2","tab":"1b637788.784fc8","order":5,"disp":true,"width":"6"},{"id":"faf8a5f2.0aed38","type":"ui_group","z":"","name":"Relay","tab":"816c63c0.5ce6c","disp":true,"width":"6"},{"id":"1b637788.784fc8","type":"ui_tab","z":"","name":"Charts","icon":"dashboard"},{"id":"c68d8965.8ca3f8","type":"ui_group","z":"","name":"Moisture","tab":"1b637788.784fc8","order":2,"disp":true,"width":"6"},{"id":"ef0772cc.7fe03","type":"inject","z":"ad9385ca.8d4ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":199.0999984741211,"y":174.80000495910645,"wires":[["16e84d6f.a30883"]]},{"id":"16e84d6f.a30883","type":"exec","z":"ad9385ca.8d4ae8","command":"python /home/pi/.node-red/am2320-temperature.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":571.0999984741211,"y":174.50003051757812,"wires":[["3dc61512.606e8a"],[],[]]},{"id":"969ddde0.96f23","type":"exec","z":"ad9385ca.8d4ae8","command":"python /home/pi/.node-red/am2320-humidity.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":573.1999816894531,"y":298.1999816894531,"wires":[["cc7046da.cadad8"],[],[]]},{"id":"89293f26.14601","type":"inject","z":"ad9385ca.8d4ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":190.20001983642578,"y":291.1999683380127,"wires":[["969ddde0.96f23"]]},{"id":"3dc61512.606e8a","type":"ui_chart","z":"ad9385ca.8d4ae8","name":"temperature","group":"66e93b75.dfe264","order":0,"width":0,"height":0,"label":"temperature (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"°C","ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":951.1002197265625,"y":123.4000244140625,"wires":[[],[]]},{"id":"cc7046da.cadad8","type":"ui_chart","z":"ad9385ca.8d4ae8","name":"humidity","group":"66e93b75.dfe264","order":0,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":1039.2000122070312,"y":308.1999816894531,"wires":[[],[]]},{"id":"300fe8ac.a9e9f8","type":"inject","z":"d8d6b660.9de998","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":201.09999084472656,"y":232.80000686645508,"wires":[["41339e26.38d6"]]},{"id":"41339e26.38d6","type":"rpi-ds18b20","z":"d8d6b660.9de998","topic":"","array":false,"name":"","x":417.0999984741211,"y":218.20001983642578,"wires":[["45d4b636.343a48"]]},{"id":"45d4b636.343a48","type":"ui_chart","z":"d8d6b660.9de998","name":"temperature","group":"c1298d35.32b7f","order":0,"width":0,"height":0,"label":"temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"°C","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":615.1000823974609,"y":217.4000186920166,"wires":[[],[]]},{"id":"d4d2a3f9.b13ff","type":"inject","z":"e4a80c49.4119f","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":225.10000610351562,"y":226.80000686645508,"wires":[["30270e52.6a0942"]]},{"id":"7dc4cdcb.43a894","type":"ui_chart","z":"e4a80c49.4119f","name":" light","group":"38d71a83.af16f6","order":0,"width":0,"height":0,"label":"light (lux)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"lux","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":696.2000350952148,"y":209.20000648498535,"wires":[[],[]]},{"id":"30270e52.6a0942","type":"exec","z":"e4a80c49.4119f","command":"python /home/pi/.node-red/bh1750.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bh1750 data","x":457.1999740600586,"y":225.20000839233398,"wires":[["7dc4cdcb.43a894"],[],[]]},{"id":"e1de06a6.80b4b8","type":"inject","z":"dbd5df26.447c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":184.09999465942383,"y":241.80001068115234,"wires":[["c6dd60c6.d6dce","540d9be6.0a38d4","bbe115ef.1e70c8","d9f07660.6d7838"]]},{"id":"c6dd60c6.d6dce","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-sealevel-pressure.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bh1750 sealevel pressure","x":480.1999702453613,"y":346.19997215270996,"wires":[["d06814b4.e086f8"],[],[]]},{"id":"540d9be6.0a38d4","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-temperature.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bh1750 temperature","x":468.1999740600586,"y":148.20000457763672,"wires":[["15cfa912.e92ed7"],[],[]]},{"id":"bbe115ef.1e70c8","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-pressure.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bh1750 pressure","x":460.1999816894531,"y":212.1999969482422,"wires":[["b2b69daf.f30ec"],[],[]]},{"id":"d9f07660.6d7838","type":"exec","z":"dbd5df26.447c2","command":"python /home/pi/.node-red/bmp180-altitude.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"bh1750 altitude","x":450.1999816894531,"y":279.1999816894531,"wires":[["28bd0d8e.a260a2"],[],[]]},{"id":"15cfa912.e92ed7","type":"ui_chart","z":"dbd5df26.447c2","name":"temperature","group":"fb634992.b970b8","order":0,"width":"0","height":"0","label":"temperature (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"°C","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":822.2000427246094,"y":124.2000036239624,"wires":[[],[]]},{"id":"b2b69daf.f30ec","type":"ui_chart","z":"dbd5df26.447c2","name":"pressure","group":"fb634992.b970b8","order":0,"width":0,"height":0,"label":"pressure (Pa)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"Pa","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":821.2000427246094,"y":192.20000553131104,"wires":[[],[]]},{"id":"28bd0d8e.a260a2","type":"ui_chart","z":"dbd5df26.447c2","name":"altitude","group":"fb634992.b970b8","order":0,"width":0,"height":0,"label":"altitude (m)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"m","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":823.2000389099121,"y":241.2000069618225,"wires":[[],[]]},{"id":"d06814b4.e086f8","type":"ui_chart","z":"dbd5df26.447c2","name":"sea level pressure","group":"fb634992.b970b8","order":0,"width":0,"height":0,"label":"sea level pressure (Pa)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"Pa","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":854.2000122070312,"y":294.1999816894531,"wires":[[],[]]},{"id":"c83cf169.048fa","type":"camerapi-takephoto","z":"ee3dd378.18084","filemode":"1","filename":"greenhouse.jpeg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":418.8999938964844,"y":300.0000171661377,"wires":[["d92bcff0.acfb7"]]},{"id":"d1c88bcd.1942b8","type":"inject","z":"ee3dd378.18084","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145.09999084472656,"y":285.8000030517578,"wires":[["c83cf169.048fa"]]},{"id":"657d19ba.dfff58","type":"base64","z":"ee3dd378.18084","name":"Encode","x":532.2000122070312,"y":392.1999816894531,"wires":[["4f669420.3c2efc","10e1fcf7.0b10f3"]]},{"id":"4f669420.3c2efc","type":"ui_template","z":"ee3dd378.18084","group":"5a9a27c6.a13448","name":"Display Image","order":3,"width":"25","height":"15","format":"<img alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"x":800.2000427246094,"y":407.19997215270996,"wires":[[]]},{"id":"5ecfd548.e18f5c","type":"rpi-gpio out","z":"8b2fcf8.330b73","name":"","pin":"12","set":"","level":"0","out":"out","x":408.0999984741211,"y":319.0000190734863,"wires":[]},{"id":"812798f2.ca0a58","type":"ui_switch","z":"8b2fcf8.330b73","name":"Relay switch","label":"ON/OFF","group":"faf8a5f2.0aed38","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":141.10000610351562,"y":291.59999084472656,"wires":[["5ecfd548.e18f5c"]]},{"id":"11e49929.e3b007","type":"ui_button","z":"ee3dd378.18084","name":"","group":"5a9a27c6.a13448","order":1,"width":0,"height":0,"label":"Take shot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":135.10000610351562,"y":408.79998779296875,"wires":[["c83cf169.048fa"]]},{"id":"10e1fcf7.0b10f3","type":"ui_template","z":"ee3dd378.18084","group":"5a9a27c6.a13448","name":"For mobile","order":2,"width":"8","height":"8","format":"<img alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"x":790.2000350952148,"y":334.20001745224,"wires":[[]]},{"id":"6a40d869.06da58","type":"inject","z":"78ebe61c.15f138","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":201.0994415283203,"y":244.09091186523438,"wires":[["74f30241.a8604c"]]},{"id":"da0dd42a.2121e8","type":"ui_chart","z":"78ebe61c.15f138","name":"moisture %","group":"c68d8965.8ca3f8","order":0,"width":0,"height":0,"label":"Moisture (%)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"lux","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":860.199462890625,"y":166.49090576171875,"wires":[[],[]]},{"id":"74f30241.a8604c","type":"exec","z":"78ebe61c.15f138","command":"python /home/pi/.node-red/MSinmV.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"moisture","x":417.19940185546875,"y":242.49090576171875,"wires":[["92745ab0.036238","d9c7d51.662e828"],[],[]]},{"id":"a4afe295.1269d","type":"ui_gauge","z":"78ebe61c.15f138","name":"moisture init","group":"c68d8965.8ca3f8","order":0,"width":0,"height":0,"gtype":"wave","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":871.9601440429688,"y":368.36358642578125,"wires":[]},{"id":"33a4b2c5.3be09e","type":"ui_chart","z":"2571c663.15b22a","name":"LPG","group":"acb4d926.a4c5c8","order":2,"width":0,"height":0,"label":"LPG (ppm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"ppm","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":840.1000366210938,"y":106.39999389648438,"wires":[[],[]]},{"id":"a4a0638f.a5df5","type":"ui_button","z":"2571c663.15b22a","name":"Calibrate","group":"acb4d926.a4c5c8","order":1,"width":0,"height":0,"label":"Calibrate","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":165,"y":349,"wires":[["9278005d.f4544"]]},{"id":"552930a8.824cc","type":"inject","z":"2571c663.15b22a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":192,"y":192,"wires":[["d3ddc406.c30228","dea3f7a8.d984f8","e950c3bc.f9469"]]},{"id":"392dd6ea.be9f2a","type":"ui_chart","z":"2571c663.15b22a","name":"CO","group":"acb4d926.a4c5c8","order":3,"width":0,"height":0,"label":"CO (ppm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"ppm","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":840,"y":177,"wires":[[],[]]},{"id":"fee8c02f.b0d78","type":"ui_chart","z":"2571c663.15b22a","name":"SMOKE","group":"acb4d926.a4c5c8","order":4,"width":0,"height":0,"label":"SMOKE (ppm)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"ppm","ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":851,"y":242,"wires":[[],[]]},{"id":"5ad555ca.8ddd5c","type":"inject","z":"2571c663.15b22a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"x":171,"y":418,"wires":[["9278005d.f4544"]]},{"id":"d3ddc406.c30228","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2_LPG.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":492,"y":112,"wires":[["33a4b2c5.3be09e"],[],[]]},{"id":"dea3f7a8.d984f8","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2_CO.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":495,"y":181,"wires":[["392dd6ea.be9f2a"],[],[]]},{"id":"e950c3bc.f9469","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2_smoke.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":504,"y":250,"wires":[["fee8c02f.b0d78"],[],[]]},{"id":"9d6b1014.32a62","type":"file","z":"2571c663.15b22a","name":"","filename":"mq2R0.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":846,"y":370,"wires":[]},{"id":"9278005d.f4544","type":"exec","z":"2571c663.15b22a","command":"python /home/pi/.node-red/mq2calibrate.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":503,"y":384.5,"wires":[["9d6b1014.32a62"],[],[]]},{"id":"92745ab0.036238","type":"function","z":"78ebe61c.15f138","name":"mV to %","func":"msg.payload = msg.payload*100/3300;\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":182,"wires":[["da0dd42a.2121e8","a4afe295.1269d"]]},{"id":"d9c7d51.662e828","type":"ui_chart","z":"78ebe61c.15f138","name":"moisture mV","group":"c68d8965.8ca3f8","order":0,"width":0,"height":0,"label":"Moisture (mV)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"lux","ymin":"0","ymax":"3600","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":864,"y":255,"wires":[[],[]]},{"id":"d92bcff0.acfb7","type":"file in","z":"ee3dd378.18084","name":"","filename":"/home/pi/Pictures/greenhouse.jpeg","format":"","x":458,"y":568,"wires":[["657d19ba.dfff58"]]},{"id":"aeed54b.3003da8","type":"inject","z":"ee3dd378.18084","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":161,"y":574,"wires":[["d92bcff0.acfb7"]]},{"id":"8e7f771f.343f28","type":"i2c scan","z":"8bcfba3d.33e668","i2cdevice":"3a7c2871.2ba388","name":"","x":487,"y":415,"wires":[["485ddfaa.10dcf"],[]]},{"id":"43cbdb8a.27acb4","type":"inject","z":"8bcfba3d.33e668","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":274,"y":432,"wires":[["8e7f771f.343f28"]]},{"id":"485ddfaa.10dcf","type":"debug","z":"8bcfba3d.33e668","name":"","active":true,"console":"false","complete":"false","x":723,"y":418,"wires":[]}]